$tamanio: 25px;

main{

    nav{
        ul{
            li{
                a{
                    color: azure;
                    font-size: $tamanio
                }
            }
        }
        
    } 
  
      
}
